@{
    ViewBag.Title = "CTVisionCluu";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">CTVisionCluu</h1>
        <p class="lead">A cutting-edge medical imaging service Web applications.</p>
       

    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                CT Vision is a cutting-edge medical imaging service that harnesses the power of Computed Tomography (CT) technology to
                provide advanced diagnostic and visualization solutions for healthcare professionals.
                CT, also known as CAT (Computed Axial Tomography), 
                is a medical imaging technique that uses a series of X-ray scans 
                to create detailed cross-sectional images of the human body. 
                CT Vision leverages this technology to offer a range of crucial services in the field of medical imaging
                and healthcare.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get An Appointment</h2>
            <p>A CT scan has many uses, but it's particularly well-suited to quickly examine people who may have internal injuries from car accidents or other types of trauma. 
            A CT scan can be used to visualize nearly all parts of the body and is used to diagnose disease or injury as well as to plan medical, surgical or radiation treatment</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
    </div>
</main>